.footer {
    padding: 1.25em;

    background: var(--color-primary);
    color: var(--color-text-light);

    text-align: center;
}

.footer__heading {
    display: block;
    font-size: var(--size-h2);
    font-weight: var(--weight-semibold);
}

.footer__cta {
    padding: 1.25em 3.03125em;
}

.footer__subtext {
    color: var(--color-primary-contra);
    font-size: var(--size-regular)
}

@media screen and (min-width: 1280px) {
    .footer__subtext {
        font-size: calc(var(--size-h3) * .75);
        font-weight: var(--weight-light);

        margin-bottom: 2em;
    }

    .footer {
        padding: 3em;
    }
}