.landing__cta {
    display: none;

    margin-top: 1em;
}

.landing__heading {
    font-size: var(--size-title);
    font-weight: var(--weight-bold);
    margin: 0;
}

.landing__subheading {
    font-size: var(--size-subtitle);
    font-weight: var(--weight-light);
    margin: 0;

    display:block;
}

@media screen and (min-width: 768px) {
    .landing__cta {
        display: inline-flex;
        
        gap: 1em;
        align-items: center;
    }
}

@media screen and (min-width: 1280px) {
    .landing__subheading {
        font-size: var(--size-h2);
    }
}