.navbar {
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;

    background: var(--color-bg);

    margin: 0 -1.25em;

    position: fixed;
    top: 0;
    left: 1.25em;

    width: 100%;
    z-index: 99999;
}

.navbar__list {
    list-style-type: none;

    margin: 0;
    padding: 1.25em;
}

.navbar__list--left {
    display: flex;

    justify-content: space-between;
}

.navbar__list--right {
    display: none;

    padding: 0;
}

.navbar__menu-link {
    display: block;

    flex-shrink: 1;
}

.navbar__menu-link-label {
    font-size: .8em;
    text-align: center;
}

.navbar__menu-link-label::after {
    content: url(../../media/svg/menu.svg);

    display: block;
}

.navbar__link {
    display: inline-block;

    color: var(--color-primary-contra);
}

.navbar__link--menu {
    color: var(--color-text)
}

.navbar__logo {
    height: 2.5em;
    width: auto;
}

.navbar__menu-item {
    display: inline-flex;
    align-items: center;

    text-transform: uppercase;
}

.navbar__list--shown {
    display: flex;
    flex-direction: column;

    position: relative;
    
    background-color: var(--color-primary);
    margin: 0 1.25em 1.25em;
}

.navbar__list--shown::before {
    content: "";
    position: absolute;
    top: -1em;
    right: 15px;

    width: 0px;
    height: 0px;
    
    border-left: solid 0.5em white;
    border-right: solid 0.5em white;
    border-bottom: solid 1em var(--color-primary);
    border-top: none;
    
}

.navbar__list--right .navbar__link {
    padding: .75em 1.5625em;
    flex-grow: 1;
}

.navbar__link--active {
    font-weight: var(--weight-semibold);
}

@media screen and (min-width: 1024px) {
    .navbar {
        flex-direction: row;
    }

    .navbar__menu-link {
        display: none;
    }

    .navbar__list--right {
        display: flex;
    }

    .navbar__list--right > .navbar__menu-item {
        padding: unset;
    }

    .navbar__menu-item{
        display: flex;
        flex-direction: column;
    }

    .navbar__list--right .navbar__link {
        color: var(--color-text);

        padding: .75em 1.5625em;

        display: flex;
        align-items: center;
    }

    .navbar__link {
        text-decoration: none;
        transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    /* makes the link jump around
    /* .navbar__list--right .navbar__link:hover {
        font-weight: var(--weight-semibold);
    } */

    .navbar__list--right .navbar__link--active, .navbar__list--right .navbar__link:hover {
        color: var(--color-primary-contra);
        background-color: var(--color-primary);
    }
}

@media screen and (min-width: 1280px) {
    .navbar {
        top: 1.25em;
        left: unset;

        max-width: 80vw;
        align-self: center;
    }
}