@media screen and (min-width: 768px) {
    .reference-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;

        gap: 1em;
    }
}

@media screen and (min-width: 1024px) {
    .reference-container {
        grid-template-columns: repeat(3, 1fr);
    }
}