.section {
    padding: 1.25em;
}

.section--has-navbar {
    padding: 0 1.25em 4em;

    background: linear-gradient(to right, #24242466, #24242466), url(../../media/pageheader-1920w.jpg), #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.section--landing {
    min-height: 60vh;

    padding-bottom: 1.25em;
}

.section--responsibilities {
    background: linear-gradient(to right, #242424CC, #242424CC), url(../../media/background-CTAblock-4460w.jpg), #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--color-text-light);
    font-weight: var(--weight-semibold);
}

.section--responsibilities > .section__header > p:first-of-type {
    margin-top: 0;
}

.section__header--landing {
    text-align: center;
    color: var(--color-text-light);
}

.section__heading {
    font-size: var(--size-h2);
    font-weight: var(--weight-semibold);
    color: var(--color-text);

    display: block;
}

.section__heading--main {
    font-size: var(--size-h1);
}

.section__heading--highlight {
    color: var(--color-primary);
}

@media screen and (min-width: 768px) {
    .section--landing {
        min-height: calc(100vh - 1.25em);
    }
}

@media screen and (min-width: 1024px) {
    .section__header:not(.section__header--landing, .section__header--responsibilities) {
        text-align: center;
        margin: 5em 0;
    }

    .section__heading {
        margin: 1em 0;
    }

    .section--responsibilities .section__header {
        text-align: left;
    }

    .section__heading--main {
        font-size: var(--size-h2)
    }
}

@media screen and (min-width: 1280px) {
    .section {
        max-width: 1280px;

        margin: 0 auto;
        margin-bottom: 4em;
    }

    
    .section--landing,
    .section--responsibilities,
    .section--has-navbar {
        margin: unset;
        max-width: unset;
    }

    .section--has-navbar {
        padding-bottom: 8em;
    }

    .section--landing {
        padding-bottom: 5.25em;
        min-height: calc(100vh - 5.25em);
    }

    .section__container {
        max-width: 1280px;
        margin: 8em auto;
    }

    .section__header--responsibilities {
        margin: 1.5em 0;
        font-size: var(--size-h3);
        font-weight: var(--weight-bold);
    }

    .section__header-text {
        margin: 0;
    }
}